.odd-num {
    background-color: #c57171;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.big-text {
    font-size: 24px;
}

.huge-text {
    font-size: 36px;
}

/*
    >> NOTE <<
    .huge-text is a choice; technically outside the remit of the exercise.
    Having placed one font-size in a class, it seemed apropos to place the other
    in one too (in case it needed to be re-used elsewhere).
    The same could be said for the font-weight in #num-4.
*/

#num-2 {
    color: rgb(27, 27, 218);
}

#num-4 {
    background-color: rgb(98, 214, 123);
    font-weight: bold;
}
