.container>p {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

/*
    >> NOTES <<
    It would have been more specific to use .container.text as the selector.
    Other options were also available - see solution.css.
*/
